<footer id="footer" class="footer-area pt-120">
    <div class="container">
        <div class="subscribe-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe-content mt-45">
                        <h2 class="subscribe-title">Subscribe Our Newsletter <span>get reguler updates</span></h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="subscribe-form mt-50">
                        <form
                            action="https://hwdmediashare.us2.list-manage.com/subscribe/post?u=a5c1616a905ba527a3ae48c64&amp;id=2d6f1afab1"
                            method="post"
                            id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form"
                            class="validate"
                            target="_blank"
                            novalidate
                        >
                            <div class="mc-field-group">
                                <label for="mce-EMAIL" style="display: none;">Email Address <span class="asterisk">*</span> </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" />
                            </div>
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="main-btn">Subscribe</button>
                            <div id="mce-responses" class="clear pt-20">
                                <div class="alert alert-danger" id="mce-error-response" style="display: none;"></div>
                                <div class="alert alert-success" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a5c1616a905ba527a3ae48c64_2d6f1afab1" tabindex="-1" value="" /></div>
                        </form>
                        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                        <script type="text/javascript">
                            (function ($) {
                                window.fnames = new Array();
                                window.ftypes = new Array();
                                fnames[0] = "EMAIL";
                                ftypes[0] = "email";
                                fnames[1] = "FNAME";
                                ftypes[1] = "text";
                                fnames[2] = "LNAME";
                                ftypes[2] = "text";
                            })(jQuery);
                            var $mcj = jQuery.noConflict(true);
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget pb-100">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <a class="logo" href="{% link index.markdown %}">
                            <img src="/assets/images/logo.svg" alt="{{ site.title | escape }}" />
                        </a>
                        <p class="text">{{- site.description | escape -}}</p>
                        <p class="text">Highwood Design Limited, Design Works, William Street, Felling, NE10 0JP, United Kingdom.</p>
                        {%- include social.html -%}
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="footer-title">
                                        <h4 class="title">Quick Links</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="{% link blog.markdown %}">Blog</a></li>
                                        <li><a href="{% link pages/about.markdown %}">About</a></li>
                                        <li><a href="{% link pages/responsibility.markdown %}">Our Responsibility</a></li>
                                        <li><a href="{% link reviews.markdown %}">Reviews</a></li>
                                        <li><a href="{% link pages/resources.markdown %}">Resources</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="footer-title">
                                        <h4 class="title">Legal</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="{% link pages/terms-of-service.markdown %}">Terms of Service</a></li>
                                        <li><a href="{% link pages/privacy-policy.markdown %}">Privacy Policy</a></li>
                                        <li><a href="{% link pages/refund-policy.markdown %}">Refund Policy</a></li>
                                        <li><a href="{% link pages/vat.markdown %}">VAT Rates</a></li>
                                        <li><a href="{% link pages/license.markdown %}">License Agreement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="footer-title">
                                        <h4 class="title">Account</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Downloads</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-sm-flex justify-content-between">
                        <div class="copyright-content">
                            <p class="text">This project is not affiliated with or endorsed by the&nbsp;<a href="http://www.joomla.org/">Joomla! Project</a> or <a href="http://opensourcematters.org/">Open Source Matters</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-2"></div>
</footer>
