<footer id="footer" class="footer-area pt-120">
    <div class="container">
        <div class="subscribe-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe-content mt-45">
                        <h2 class="subscribe-title">Subscribe Our Newsletter <span>get reguler updates</span></h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="subscribe-form mt-50">
                        <form action="#">
                            <input type="text" placeholder="Enter eamil">
                            <button class="main-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget pb-100">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <a class="logo" href="{% link index.markdown %}">
                            <img src="/assets/images/logo.svg" alt="{{ site.title | escape }}">
                        </a>
                        <p class="text">{{- site.description | escape -}}</p>
                        <p class="text">Highwood Design Limited, Design Works, William Street, Felling, NE10 0JP, United Kingdom.</p>
                        {%- include social.html -%}
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="footer-title">
                                        <h4 class="title">Quick Links</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="{% link blog.markdown %}">Blog</a></li>
                                        <li><a href="{% link pages/about.markdown %}">About</a></li>
                                        <li><a href="{% link pages/responsibility.markdown %}">Our Responsibility</a></li>
                                        <li><a href="{% link reviews.markdown %}">Reviews</a></li>
                                        <li><a href="{% link pages/resources.markdown %}">Resources</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="footer-title">
                                        <h4 class="title">Legal</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="{% link pages/terms-of-service.markdown %}">Terms of Service</a></li>
                                        <li><a href="{% link pages/privacy-policy.markdown %}">Privacy Policy</a></li>
                                        <li><a href="{% link pages/refund-policy.markdown %}">Refund Policy</a></li>
                                        <li><a href="{% link pages/vat.markdown %}">VAT Rates</a></li>
                                        <li><a href="{% link pages/license.markdown %}">License Agreement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-link d-flex mt-50 justify-content-md-between">
                                <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="footer-title">
                                        <h4 class="title">Account</h4>
                                    </div>
                                    <ul class="link">
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Downloads</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div> <!-- footer wrapper -->                      
                            </div> <!-- footer link -->
                        </div>
                    </div> <!-- row -->
                </div>
            </div>                     
        </div> <!-- footer widget -->
        <div class="footer-copyright">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-sm-flex justify-content-between">
                        <div class="copyright-content">
                            <p class="text">This project is not affiliated with or endorsed by the&nbsp;<a href="http://www.joomla.org/">Joomla! Project</a> or <a href="http://opensourcematters.org/">Open Source Matters</a></p>
                        </div> <!-- copyright content -->
                    </div> <!-- copyright -->
                </div>
            </div> <!-- row -->
        </div> <!-- footer copyright -->
    </div> <!-- container -->
    <div id="particles-2"></div>
</footer>
