<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->   

    {%- include header.html -%}

    <div class="docs-wrapper">
	    <div id="docs-sidebar" class="docs-sidebar">

		    <nav id="docs-nav" class="docs-nav navbar">
			    <ul class="section-items list-unstyled nav flex-column pb-3">
               <li class="nav-item section-title">
                  <form id="search-form" action="" style="width:100%;">
                     <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search" autocomplete="off">
                        <div class="input-group-append">
                           <button class="btn btn-secondary" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                         </div>
                      </div>                   
                     <ul class="list list--results" id="list">
               
                     </ul>
                   </form>
               </li>               
               
               {% for item in site.data.navigation-docs.items %}
                  <li class="nav-item section-title"><h5>{{ item.title }}</h5></li>
                  {% for entry in item.subfolderitems %}
                     <li class="nav-item"><a class="nav-link scrollto" href="{{ entry.url }}">{{ entry.page }}</a></li>     
                  {% endfor %}
               {% endfor %}

			    </ul>

		    </nav><!--//docs-nav-->
	    </div><!--//docs-sidebar-->
	    <div id="docs-content" class="docs-content sidebar-open">
         <a href="javascript:void(0)" id="docs-sidebar-close" onclick="closeNav()"><i class="lni lni-angle-double-left"></i></a>
         <a href="javascript:void(0)" id="docs-sidebar-open" class="d-none" onclick="openNav()"><i class="lni lni-angle-double-right"></i></a>
            <section id="article" class="article-area pt-120">
                <div class="container">
                   <div class="row">
                      <div class="col-lg-12">
                         <div class="section-title pb-35">
                            <div class="line"></div>
                            <h3 class="title"><span>{% for category in page.categories limit:1 %}{{ category }}{% endfor %} //</span> {{ page.title | escape }}</h3>              
                         </div>
                      </div>
                   </div>
                   {{ content }}
              

                 <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
                </div>
              </section>

	    </div>
    </div><!--//docs-wrapper-->
    
   


    <!--====== Jquery js ======-->
    <script src="/assets/js/base/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/base/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    
    <!--====== Plugins js ======-->
    <script src="/assets/js/plugins.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/assets/js/slick.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="/assets/js/ajax-contact.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="/assets/js/jquery.easing.min.js"></script>
    <script src="/assets/js/scrolling-nav.js"></script>
    
    <!--====== wow js ======-->
    <script src="/assets/js/wow.min.js"></script>
    
    <!--====== Particles js ======-->
    <script src="/assets/js/particles.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="/assets/js/main.js"></script>
        
    <script src="/assets/search/fetch.js"></script>
    <script src="/assets/search/search.js"></script>    
    <script type="text/javascript">
      const search = new jekyllSearch(
        '{{site.url}}/assets/search/search.json',
        '#search',
        '#list',
        '{{site.url}}'
      );
      search.init();
    </script>
  </body>

</html>



