---
layout: default
---

<section id="pricing" class="pricing-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="card">
                    <div class="card-body">
                    <div class="card-title">BASIC</div>
                    <div class="price"><span class="currency">&#163;</span><span class="value">Free</span></div>
                    <div class="frequency">forever</div>
                    <div class="divider"></div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">HWD MediaShare</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-times"></i>
                            <div class="media-body">Premium Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-times"></i>
                            <div class="media-body">Developer Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Unlimited Domains</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Access Documentation</div>
                        </li>
                    </ul>
                    <div class="button-wrapper">
                        <a href="#" class="main-btn">SIGN UP</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="card">
                    <div class="card-body">
                    <div class="card-title">PREMIUM</div>
                    <div class="price"><span class="currency">&#163;</span><span class="value">30.00</span></div>
                    <div class="frequency">yearly</div>
                    <div class="divider"></div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">HWD MediaShare</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Premium Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-times"></i>
                            <div class="media-body">Developer Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Unlimited Domains</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Access Documentation</div>
                        </li>
                    </ul>
                    <div class="button-wrapper">
                        <a href="#" class="main-btn">SIGN UP</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="card">
                    <div class="card-body">
                    <div class="card-title">DEVELOPER</div>
                    <div class="price"><span class="currency">&#163;</span><span class="value">50.00</span></div>
                    <div class="frequency">yearly</div>
                    <div class="divider"></div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">HWD MediaShare</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Premium Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Developer Addons</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Unlimited Domains</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Access Documentation</div>
                        </li>
                    </ul>
                    <div class="button-wrapper">
                        <a href="#" class="main-btn">SIGN UP</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

 <section id="article" class="article-area pt-120">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title pb-35">
                <div class="line"></div>
                <h2 class="title"><span>About //</span> Pricing</h2>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="title">Core Features</th>
                <th>Basic</th>
                <th>Premium</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>          
            <tr>
                <td class="title"><a href="{% link pages/license.markdown %}">Allowed Usage</a></td>
                <td>Unlimited Domains</td>
                <td>Unlimited Domains</td>
                <td>Unlimited Domains</td>
            </tr>
            <tr>
                <td class="title"><a href="/#">HWD MediaShare v2 Installer</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="/#">HWD MediaShare v2 Premium Addons</a></td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="/#">HWD MediaShare v2 Developer Addons</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="{% link docs.markdown %}">Access Documentation</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="{% link docs.markdown %}">Access Video Tutorials</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="{% link pages/license.markdown %}">Open Source, No Encryption</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="{% link pages/license.markdown %}">No Contract, Cancel Anytime</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a href="{% link pages/third-party-licenses.markdown %}">Third Party Licenses</a></td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
        </tbody> 
        <thead class="thead-dark">
            <tr>
                <th class="title">Extra Joomla Extensions</th>
                <th>Basic</th>
                <th>Premium</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td class="title"><a title="Youtube videoBox" href="/downloads/joomla-3/media-apps/youtube-videobox-module">Youtube videoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Flickr photoBox" href="/downloads/joomla-3/media-apps/flickr-photobox-module">Flickr photoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Dailymotion videoBox" href="/downloads/joomla-3/media-apps/dailymotion-videobox-module">Dailymotion videoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Vimeo videoBox" href="/downloads/joomla-3/media-apps/vimeo-videobox-module">Vimeo videoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="JWPlayer" href="/downloads/joomla-3/media-apps/jwplayer-content-plugin">JWPlayer</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Flowplayer" href="/downloads/joomla-3/media-apps/flowplayer-content-plugin">Flowplayer</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Picasa photoBox" href="/downloads/joomla-3/media-apps/picasa-photobox-module">Picasa photoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Soundcloud audioBox" href="/downloads/joomla-3/media-apps/soundcloud-audiobox-module">Soundcloud audioBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Spotify audioBox" href="/downloads/joomla-3/media-apps/spotify-audiobox-module">Spotify audioBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="RadioTuna Widget" href="/downloads/joomla-3/media-apps/radiotuna-widget-module">RadioTuna widget</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="CNN news videoBox" href="/downloads/joomla-3/media-apps/cnn-news-videobox-module">CNN news videoBox</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="RadioTuna Widget" href="/downloads/joomla-3/media-apps/radiotuna-widget-module">RadioTuna widget</a></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
        </tbody> 
        <thead class="thead-dark">
            <tr>
                <th class="title">Joomla Templates</th>
                <th>Basic</th>
                <th>Premium</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td class="title"><a title="Marker" href="/downloads/joomla-3/templates/marker-joomla-template">Marker</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Marker" href="/downloads/joomla-3/templates/hwdtube-joomla-template">HWDtube</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="HWDoogle" href="/downloads/joomla-3/templates/hwdoogle-joomla-template">HWDoogle</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="Marker" href="/downloads/joomla-3/templates/hwdmotion-joomla-template">HWDmotion</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="title"><a title="HWDvim" href="/downloads/joomla-3/templates/hwdvim-joomla-template">HWDvim</a></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><i class="fa fa-check"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="card mt-100 mb-35">
        <div class="card-body">
            <h3 class="card-title">Safe, Secure Payments</h3>
            <p class="card-text">Buy with confidence! Use Paypal to buy quickly and safely, or pay directly with your credit card using our secure payment system.</p>
        </div>
    </div>
    <div class="card mb-35">
    <div class="card-body">
        <h3 class="card-title">Frequently Asked Questions</h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Will my subscription automatically renew next year?</h5>
                <p>Yes, unless you cancel. You can cancel the subscription at any time during the year within your account page. We'll also send reminders about upcoming renewal 7 days beforehand, which allows the cancellation of an unwanted subscription.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>What happens after my subscription expires?</h5>
                <p>You can continue to use any software you have already downloaded. The usage license never expires. After your subscription expires, you will not be able to access the software downloads. You will not have access to new software updates, new products, or technical support services.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Can I cancel my subscription?</h5>
                <p>Yes, you can cancel your subscription any time. There is no contract. If you cancel half way through the year, your subscription will continue to be active until the end of the year, and then it will expire.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Does HWDMediaShare have server requirements?</h5>
                <p>Yes, there are <a title="Server requirements" href="https://hwdmediashare.gitbook.io/docs">server requirements</a> that go beyond those of Joomla.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Can I get a refund?</h5>
                <p>Yes, if you're not satisfied with HWD MediaShare when you first subscribe, we'll be happy to cancel your account and offer you a <a href="{% link pages/refund-policy.markdown %}">refund within 15 days of purchase</a>.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>If I subscribe to HWDMediaShare, will I be able to download new updates?</h5>
                <p>When you subscription is active, you can access all software updates. If your subscription expires, and you wish you to continue downloading updates, you will need to renew your subscription.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>What payment methods do you accept?</h5>
                <p>We accept Visa, Visa Electron, Visa Debit, Maestro, Mastercard, Solo and PayPal.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Is your source code encoded?</h5>
                <p>No. Our software is <a href="{% link pages/license.markdown %}">not encoded</a>. You have access to all the source code, and you have permission to make modifications.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Will I be charged VAT?</h5>
                <p>Value Added Tax (VAT) will be <a href="{% link pages/vat.markdown %}">applied to sales</a> within the EU. Sales outside the EU will not be charged any tax.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h5>Will my license ever expire?</h5>
                <p>No. The usage license will <a href="{% link pages/license.markdown %}">never expire</a>.</p>
            </div>
        </div>
    </div>
 </section>